<div class="box-body table-responsive no-padding" *ngIf="searchedPersons && searchedPersons.length>0">
  <button type="button" class="btn btn-primary btn-xs" style="display: none" (click)="showTest()" id="showButton"
          #showButton>
    <i class="fa fa-eye"> ++++++</i>
  </button>
  <table class="table table-hover" [ngBusy]="{busy: busy, message: 'იტვირთება...'}">
    <tr>
      <th>სურათი</th>
      <th>პირადი ნომერი</th>
      <th>გვარი</th>
      <th>სახელი</th>
      <th>მამის სახელი</th>
      <th>დაბადებული</th>
      <th>სქესი</th>
      <th>მისამართი</th>
      <th>დეტალურად</th>
    </tr>
    <tr
      *ngFor="let result of searchedPersons | paginate: {id: 'person_search_persons_paging',
          itemsPerPage: filterBodySearchPersons.maxResult,
          currentPage: pageSearchPersons,
          totalItems: totalSearchPersons
          }; let i = index">
      <td>
        <span class="my-app-custom-image-with-desc margin">
            <img [src]="getPersonPhoto(result)" width="50"/>
        </span>
      </td>
      <td>
        <a href="javascript:void(0)" (click)="openPerson(result)">
          {{result.personalNo}}
        </a>
      </td>
      <td>
        {{result.lastName}}
      </td>
      <td>
        {{result.firstName}}
      </td>
      <td>
        {{result.middName}}
      </td>
      <td>
        {{result.birthDate | date: 'yyyy/MM/dd'}}
      </td>
      <td>
        {{getGenderName(genders)}}
      </td>
      <td>
        {{result.addressFact}}
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-xs" (click)="openPerson(result)">
          <i class="fa fa-eye"> დეტალურად</i>
        </button>
      </td>
    </tr>
  </table>
  <pagination-controls
    class="pull-right"
    (pageChange)="changePaging($event)"
    id="person_search_persons_paging"
    autoHide="true"
    responsive="true"
    previousLabel="წინა"
    nextLabel="შემდეგი">
  </pagination-controls>
</div>
