<div class="hold-transition login-page">
  <div class="content-wrapper" id="loginBodyDiv"
       style='background-color: #272c33;
       margin-left: 0px;
       bottom: 50px;
       position: fixed;
       width:100%;
       top: 50px;'>
    <!-- Main content -->
    <section class="content">
      <div class="login-box" style="width: 600px;">
        <div class="login-box-body"
             style="border: #cdcdcd; border-style: solid; border-width: 1px; background: #272c33;">
          <p
            style='font-family: "BPG Mrgvlovani Caps", sans-serif; font-weight: bold; font-size: 23px;color: #cdcdcd; text-align: center'>
            რეგისტრაცია
          </p>
          <br><br>

          <div style="width: 50%;margin: auto;">
            <div class="form-group has-feedback">
              <input type="text" [(ngModel)]="userName" name="username" class="form-control"
                     placeholder="მომხმარებელი *">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="პაროლი *">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" [(ngModel)]="password2" name="password2" class="form-control"
                     placeholder="გაიმეორეთ პაროლი *">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control"
                     placeholder="სახელი *">
            </div>
            <div class="form-group has-feedback">
              <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control" placeholder="გვარი *">
            </div>
            <div class="form-group has-feedback">
              <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="ელ. ფოსტა *">
            </div>
            <div class="form-group has-feedback">
              <input type="text" [(ngModel)]="phone" name="phone" class="form-control" placeholder="ტელეფონი">
            </div>

            <br>
            <div class="row">
              <div class="col-xs-12" style="padding-left: 0px;">
                <button (click)="registerUser()" class="btn btn-primary"
                        style="margin-left:auto;margin-right:auto;display:block;">
                  <i class="fa fa-check"></i> რეგისტრაცია
                </button>
              </div>
            </div>
            <br>
            <div class="row alert alert-danger alert-dismissible" [innerHTML]="theHtmlString" [hidden]="!theHtmlString">
            </div>
          </div>
        </div>
        <!-- /.login-box-body -->
      </div>
    </section>
  </div>

